@import "tailwindcss";

@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bg: #fbfcf8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #003be2;
  --color-secondary: #d4fb20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom classes */

.testimonials-background {
  background:
    radial-gradient(circle at 51% 25%, rgb(190 255 0 / 48%), transparent 31%),
    radial-gradient(circle at 0% 100%, rgb(91 132 255 / 34%), transparent 35%),
    radial-gradient(circle at 100% 48%, rgb(190 255 0 / 30%), transparent 34%),
    #fff;
}

.course-creator-background {
  background:
    radial-gradient(circle at 27% 10%, rgb(204 255 48 / 42%), transparent 34%),
    radial-gradient(circle at 8% 74%, rgb(190 255 0 / 58%), transparent 30%),
    radial-gradient(circle at 8% 74%, rgb(91 132 255 / 18%), transparent 32%),
    radial-gradient(circle at 94% 54%, rgb(116 151 255 / 28%), transparent 38%),
    radial-gradient(circle at 92% 48%, rgb(142 168 255 / 16%), transparent 38%),
    #fff;
    
}

.creator-cta-lime {
  filter: sepia(1) saturate(20) hue-rotate(21deg) brightness(0.88)
    contrast(1.08);
}

.creator-cta-white {
  filter: grayscale(1) brightness(2.8);
}


.auth-grid {
  background-image:
    linear-gradient(rgb(71 130 238 / 52%) 1px, transparent 1px),
    linear-gradient(90deg, rgb(71 130 238 / 52%) 1px, transparent 1px);
  background-size: 120px 120px;
}
